body {
    background-color: #DDD;
}

.container {
     display: flex; 
     flex-direction: column-reverse;
     width: 100%;
     background-color: white;
}

.box {

    height: 100px;
    flex-grow: 1;
    flex-basis: 100px;
}

.first {
    background-color: red;
    
}

.second {
    background-color: green;
  
}

.third {
    background-color: blue;
}