body {
    background-color: #DDD;
}

.container {
     display: flex; 
     flex-direction: column-reverse;
     width: 100%;
     background-color: white;
}

.box {

    height: 100px;
    flex: 1 1 300px;
    /* flex: <grow> <shrink> <basis>*/
}

.first {
    background-color: red;
    order: 3;
    flex: 2 1 auto;
    
}

.second {
    background-color: green;
    order: 1;
  
}

.third {
    background-color: blue;
    order: 2;
}